{% extends 'base.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}

<div>
    <h1>Bienvenue sur votre annuaire !</h1>
</div>

<table>
<thead>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Numéro</th>
        <th>Email</th>
        <th>Modifier</th>
    </tr>
</thead>
<tbody>
    {% for contact in annuaire %}
    <tr>
        <td>{{ contact.firstname }}</td>
        <td>{{ contact.lastname }}</td>
        <td>{{ contact.phonenumber }}</td>
        <td>{{ contact.email }}</td>
        <td><a href="/contact/update?id={{contact.id}}"><input type="button" value="modifier" style="background-color:green"></td>
        <td><a href="contact/update/delete?id={{contact.id}}"><input type="button" value="effacer" style="background-color:red"></td>
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}
